In [3]:
#Adapted from https://scanpy-tutorials.readthedocs.io/en/latest/pbmc3k.html
#Author Kanishk Asthana kasthana@ucsd.edu

In [4]:
#Importing Packages
import numpy as np
import pandas as pd
import scanpy as sc
import matplotlib.pyplot as plt
import anndata as ad

In [ ]:
#Importing CombinedData
combinedDGE=pd.read_table("scK562_NegCTRL_2X_Cells.csv.gz",sep=",")
combinedDGE.head()
#combinedDGE.to_csv("Perplexity_output.csv")

,CELL BARCODES,A1BG,A1BG-AS1,AAAS,AACS,AAGAB,AAK1,AAMDC,AAMP,AAR2,...,ZWINT,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,COUNTS,FINAL TIME TAG
0,GTTCGCCTTCCC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,416,1
1,CGTGTCCCTGCA,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,8272,1
2,TACGCCACGTAT,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,4959,1
3,GCCTGTATGCCC,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,4216,1
4,GGGCGTAAAAGG,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,4559,1

In [4]:
combinedDGE.iloc[:,1:-2].sum(axis=0).to_csv('scK562_NegCTRL_2X_Cells_ChronoSeq_Pseudobulk.txt', index=True, header=False, sep='\t')